# LIST

In [2]:
l1 = ["Arslan",27,True,7.0]  #list mein index start from 0 #list mein heterogenous(different) data save kraskta ha

In [3]:
print(l1) #printing the list

['Arslan', 27, True, 7.0]

In [3]:
dir(l1) #to show attributes #without underscore are functions

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## List Indexing

In [4]:
#indexing ka mtlb ek value nikalna #slicing ka mtlb multiple value nikalna 
#positive indexing start with 0
#negative indexing start with -1
l1[1] #left to right

27

In [5]:
l1[-2]#right to left

True

In [6]:
#list modify hoskti ha tuple modify nae hoskta
len(l1)

4

## List update

In [4]:
l1[1] = 4

In [5]:
l1

['Arslan', 4, True, 7.0]

## List functions

In [4]:
#old method
i = 0 #starting index
while i >= 0: #check logic with index range
    print(i)
    i = -1

0

In [6]:
l1 = ['Arslan','Sufiyan','Abdullah'] #Sorting ascending
sorted(l1)

['Abdullah', 'Arslan', 'Sufiyan']

In [10]:
l2 = [1,32,4,1,4,6,8,3,5]
sorted(l2, reverse=True) #reverse descending

[32, 8, 6, 5, 4, 4, 3, 1, 1]

In [11]:
l2

[1, 32, 4, 1, 4, 6, 8, 3, 5]

## List range

In [13]:
#range(start,end,step)
#start = include
#end = exclude
#step = sequence
#range ko typecasting krni hoti ha

In [14]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
for i in range(4,11):
    print(i) #last number will not be included

4
5
6
7
8
9
10

## ASCI CODE

In [1]:
chr(65) #to print the character by ascii code

'A'

In [2]:
ord('a') #to find the no of character

97

In [3]:
l1 = list(range(85,91))

In [4]:
l1

[85, 86, 87, 88, 89, 90]

## Maping

In [14]:
maping = range(60,80)

In [16]:
list(map(chr,maping)) #It converts numbers into ascii code

['<',
 '=',
 '>',
 '?',
 '@',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O']

In [26]:
# 0 - 9 (48 - 57)
# A - Z (65 - 91)
# a - z (97 - 123)
# 0 - 9 (97 - 122) ASCII CODES

In [24]:
capital_characters = range(65,91)

In [25]:
list(map(chr,capital_characters))

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

# Slicing

In [28]:
#Slicing is used to select specific data from list , in older days we use loop and do logical code for performing this function but in python we have this function already builtin

In [29]:
subjects = ['Maths','Chemistry','Physics','English','Urdu','Geography','History']

In [33]:
subjects[2:6] #in this last value is displayed

['Physics', 'English', 'Urdu', 'Geography']

In [34]:
list(enumerate(subjects))

[(0, 'Maths'),
 (1, 'Chemistry'),
 (2, 'Physics'),
 (3, 'English'),
 (4, 'Urdu'),
 (5, 'Geography'),
 (6, 'History')]

In [35]:
subjects[2:] #End is not decided so by random it will select till end

['Physics', 'English', 'Urdu', 'Geography', 'History']

In [36]:
subjects[:4] #start is not decided so by random it will select till start

['Maths', 'Chemistry', 'Physics', 'English']

# Table Generation

In [38]:
 [ "{} * {} = {}" .format(4,t,t*4) for t in range(1,11) ]

['4 * 1 = 4',
 '4 * 2 = 8',
 '4 * 3 = 12',
 '4 * 4 = 16',
 '4 * 5 = 20',
 '4 * 6 = 24',
 '4 * 7 = 28',
 '4 * 8 = 32',
 '4 * 9 = 36',
 '4 * 10 = 40']